@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway');

/* Sweet Alert */

.swal-modal { background-color: #222; }
.swal-overlay { background-color: #ff00ae36; }

.swal-title {
  color: #fff;
  font-size: 16px;
  margin-bottom: 28px;
  margin: 0px;
}

.swal-text {
  background-color: #555;
  border: 1px solid #ff00ae;
  color: #fff;
  display: block;
  margin: 22px;
  padding: 17px;
  text-align: center;
}

.swal-footer {
  background-color: #222;
  border-top: 1px solid #E9EEF1;
  margin-top: 32px;
  overflow: hidden;
}

.swal-button {
  background-color: #222 !important;
  border-radius: 5px;
  border: 1px solid #ff00ae;
  font-size: 12px;
  padding: 7px 19px;
}

.swal-button:hover{ background-color: #ff00ae !important; }

/* Global */

body {
  /* width: calc(100vw - 34px); */
  background-color: #2e242b;
  color: #fff;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; }

/* Navigation sidebar */

.navbar {
  position: fixed;
  top: 35%;
  z-index: 1080;
}

@media (max-height: 640px) { .navbar { top: 33%; } }
@media (max-height: 414px) { .navbar { top: 10%; } }
@media (max-height: 360px) { .navbar { top: 1%; } }

.nav {
  max-width: 130px;
  opacity: 0.8;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  width: 130px;
}

.nav-hidden {
  opacity: 0.3;
  width: 0;
}

.nav-item { width: 100%; }

.nav-link {
  background-color: #555;
  border-left: 0px solid #777;
  color: #fff;
  font-weight: 400;
  transition: all 1s ease, font-weight 0.05s linear, border-left 0.3s ease;
}

.nav-link:hover {
  border-left: 2px solid #ff00ae;
  color: #ff00ae;
  font-weight: bold;
  opacity: 1;
  transition: all 0.3s ease, font-weight 0.05s linear;
}

.nav .active {
  background-color: #222;
  border-left: 2px solid #ff00ae;
  color: #ff00ae;
  font-weight: bold;
}

.nav-switch {
  border-bottom: 15px solid transparent;
  border-left: 20px solid #ff00ae;
  border-top: 15px solid transparent;
  cursor: pointer;
  height: 100px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.nav-switch-hide {
  border-left-color: white;
  opacity: 0.8;
}

.row { margin: 0 !important; }

.name a:link, .name a:visited {
  color: #e7039f;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: font-size 0.1s linear, color 0.3s ease-out;
}

.name a:hover {
  color: #fff;
  font-size: 15.5px;
}

.visible-browser {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.25s ease;
  visibility: visible;
  z-index: 0;
}

.hidden-browser {
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.35s ease;
  visibility: hidden;
  z-index: -1;
}

.hiddenInstant-browser {
  opacity: 0;
  transform: translateX(-50%);
  visibility: hidden;
  z-index: -1;
}

#thumbnail {
  -moz-mask-image: radial-gradient(circle at center center, black 50%, transparent 78%);
  -webkit-mask-image: radial-gradient(circle at center center, black 50%, transparent 78%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  height: 640px;
  mask-image: radial-gradient(circle at center center, black 50%, transparent 78%);
  opacity: 0.5;
  position: fixed;
  right: 16.666667%; /* Corresponds to feed containers (latest, hot) */
  top: 0;
  width: 960px;
  z-index: 0;
}

/* fix for mozilla firefox outlines */

:focus { outline: none; }
::-moz-focus-inner { border: 0; }

/* Scrollbar */
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-thumb { background: #7c2962; }
::-webkit-scrollbar-thumb:hover { background: #ff00ae; }
::-webkit-scrollbar-track { background: rgb(219, 219, 219); }
