include ../constants/invalids.pug
title Kamihime Database - Error

body
  ul(class='top-nav')
    include ../constants/navigation.pug
    li(class='top-nav-status')
      a Error: 401
  center
    br
    img(src='/img/LME.png', alt='Let Me Explain...')
    - if (message)
      h1 #{message}
    - else
      h1 Stop right there! Only authorised personnel are allowed at this point.
