doctype html

html

  head
    link(rel = 'stylesheet' href = '/browser/style.css')
    title Kamihime Player - Error

  body
    ul
      include ../constants/navigation.pug
      li(style="float: right; user-select: none;")
        a Error: 403
    include ../constants/lb.pug
    center
      br
      img(src = '/img/LME.png' alt = 'Let Me Explain...')
      - if (message)
        h1 #{message}
      - else
        h1 Uh-uh! That's not allowed.
