include ../constants/invalids.pug
title Kamihime Database - Error

body
  ul(class='top-nav')
    include ../constants/navigation.pug
    li(style="float: right; user-select: none;")
      a Error: 500
  center
    br
    img(src='/img/S.png', alt='Sorry...')
    - if (message)
      h1 #{message}
    - else
      h1 Something went wrong. Please contact the admin!
