extends ../_templates/main-no-side-nav

append head
  link(rel='stylesheet', href='/info/style.css')
  style.
    p a:link, p a:visited {
      color: #ff00ae;
      font-weight: bolder;
      text-decoration: none;
    }
    p a:hover { color: #fff; }
    #thumbnail {
      background-image: url("/img/wiki/close/(Eclipse%20Princess)%20Amaterasu%20Close.png");
      right: 0;
      z-index: -1;
    }
  script.
    function verified() {
      document.cookie = "verified=true;path=/;max-age=604800";
      location.reload(true);
    }
  block title
    title Kamihime Database - Warning

block content
  div.container-fluid
    br
    h1 Disclaimer
    p
      | For clarification, this project is established under
      a(href='https://github.com/gazmull/kamihime-database/blob/master/LICENSE', target='_blank')  MIT License
      | . To summarise, this site's owner will not be held responsible for any events that might occur
      |  while using the site. 
      sub Of course bugs and suggestions are welcome.
      br
      br
      u Use this site at your own discretion.
      br
      br
      u By entering this site means you are over 18 years old and not offended to sexual content.
      br
    hr
    h1 Privacy
    p
      | This site only stores your Discord snowflake and username, and cookies.
      | Your visit count to episodes are added anonymously.
    hr
    h1 Cookies
    p
      | This site is using cookies to give you a better browsing experience.
      br
      table(class='table table-borderless info-table')
        h3 Usage of Cookies
        thead
          tr
            th Purpose
            th Duration
            th Shared With
            th How To Reject/Stay Non-persistent
        tbody
          tr
            td Agreement to access
            td 7 days
            td Browser only
            td Required; clear cookies
          tr
            td Episodes player settings
            td After you close the browser
            td
              b Logged in users
              | : User database
              br
              b Anonymous users
              | : Browser only
            td Stay as anonymous user
          tr
            td Last navigation settings
            td After you close the browser
            td
              b Logged in users
              | : User database
              br
              b Anonymous users
              | : Browser only
            td Stay as anonymous user 
          tr
            td User session (logged in users only)
            td 7 days
            td
              b Logged in users
              | : User database
              br
              b Anonymous users
              | : Browser only
            td Stay as anonymous user

    - if (redirected)
      p.text-center
        b And your response is?
        br
        a(href='https://google.com') Let me the fuck out
        |  | 
        a(href='javascript:void(0);', onclick='verified();') Alright, I'm in
  div#thumbnail(class='d-none d-md-block')
