extends ../_templates/main

block title
  title Pikan! Party - Shutdown Notice

block content
  .container-fluid.my-1
    .row
      .col
        h1 It's Not Fun Anymore and I'm Moving On

        p I know it's sudden but this is inevitable because this site is terrible.

        p
          | This is a hobby that went over the line due to obsession to the game and now we're attracting the suits,
          | I already left the game,
          | and I have a degrading health condition [which requires me to take a break from online activities]:
          | all of it leads me to stop developing this project any further.
          br
          | However don't get me wrong, I still enjoyed making this project.
          br
          | In case of adventurers looking into to this project,
          | I re-opened the source code of <a href="https://github.com/gazmull/kamihime-database">KamihimeDB</a>
          | and its <a href="https://github.com/gazmull/kh-snek">complementary project</a>.

        p
          | Thank you for supporting this site after a long operation.
          br
          | - Eunicorn

        p ps. <b>For Donors</b>: I've sent another notice in the Discord server. Make sure you don't miss it.
