p
    sub <b>About Eros</b> <br/> Eros is a Discord Bot based on 
        | <a href="github:hydrabolt/discord.js">Discord.JS</a> and <a href="github:mapbox/node-sqlite3">SQLite-node Library</a>.
p
    sub © <a href="https://github.com/gazmull">Gazmull</a> (<a href='https://discordapp.com'>Euni#0011</a>) | 
    |
    sub Please support the developers, don't just go jacking off - if possible!