li
  a(href = '/') Home
li
  a(href = 'http://addbot.thegzm.space', target = '_blank') Invite Eros
li
  a(href = '/latest/', target = '_blank') Latest
li
  a(href = 'https://bitbucket.org/gazmull/kamihime-database', target = '_blank') Source Code