.swal2-popup button {
  background-color: $background;
  border-radius: 5px;
  border: $border;
  color: $text;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 19px;
  margin: 0 5px;
  @include prepareTransform('background, color', 'all 0.2s ease');
  &:hover {
    background-color: $background-hover;
    color: $text-hover;
    @include doTransform(scale(1.0384));
  }
  &:active {
    color: $text;
  }
}
