.tooltip-inner {
  background-color: $tooltip-background;
  color: $text;
}

.bs-tooltip-top .arrow::before {
  border-top-color: $tooltip-background;
  border-width: .5rem .9rem 0;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $tooltip-background;
  border-width: 0 .5rem .9rem;
}
