.content {
  background-color: transparent;
}

.kh-list-wrapper {
  z-index: 1;
}

.kh-list {
  list-style-position: outside;
  list-style-type: none;
  will-change: transform;
  li {
    clear: left;
    float: left;
  }
}

.side-nav .nav-switch-hide {
  height: 270px;
}
