- const eidolons = characters.filter(el => el.id.startsWith('e'));
- for(const character of eidolons)
  li(name=character.name, character-id=character.id, class='name')
    a(href='info/' + character.id) #{character.name}
