- const srs = characters.filter(el => el.rarity === 'SR' && el.id.startsWith('k'))
- for(const character of srs)
  li(name=character.name, character-id=character.id, class='name')
    a(href='info/' + character.id) #{character.name}
