- const ssras = characters.filter(el => el.rarity === 'SSR+');
- for(const character of ssras)
  li(name=character.name, character-id=character.id, class='name')
    a(href='info/' + character.id) #{character.name}
