link(type='text/css', rel='stylesheet', href='/css/sweetalert2.css')
link(type='text/css', rel='stylesheet', href='/css/bootstrap.min.css')
link(type='text/css', rel='stylesheet', href='//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css')
link(type='text/css', rel='stylesheet', href='/css/core.css')
