link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/animate.css@3.7.0/animate.min.css')
link(rel='stylesheet', href='/css/sweetalert2.css')
link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/constants.css')
