# NPM
node_modules/
package-lock.json

# Yarn
yarn-error.log

# Private Credentials
build/
provider/
scenarios-error.log
src/auth/auth.ts
static/img/wiki
static/scenarios/
static/scripts/
test.js
test/
