doctype html
html
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://rawgit.com/alexanderdickson/waitForImages/master/dist/jquery.waitforimages.js")
        script
            include js/script_browser.js
        title Kamihime Database - Harem Browser
        style
            include css/style.css
        style.
            .visible {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
                transition: all 0.25s ease;
            }

            .hidden {
                visibility: hidden;
                opacity: 0;
                transform: translateX(-30%);
                transition: all 0s 0.25s, opacity 0.25s ease;
            }

            .hiddenInstant {
                visibility: hidden;
                opacity: 0;
                transform: translateX(-30%);
            }
    body
            ul
                li
                    a(href='http://kamihimedb.thegzm.space') Home
                li
                    a(href='http://addbot.thegzm.space', target='_blank') Invite Eros
                li
                    a(href='http://kamihimedb.thegzm.space/latest/', target='_blank') Latest
                li  
                    a(href='http://harem-battle.club/kamihime-project/3605-love-scenes-collecting-post94422.html#post94422', target='_blank') Animate Raw Files
                li(style="float:right;user-select: none;")
                    a Browse Harem Scenes
            br
            #browseTool(style='float:left;position:fixed;z-index:9;top:60px')
                #btn(style='position: relative; float: left;')
                    button(class='toggleForm' id='sbtn' style='background-color: #ff65ae;' type='button' nav="souls") <b>SOUL</b>
                    | 
                    button(class='toggleForm' id='ebtn' style='background-color: #666f8b;' type='button' nav="eidolons") <b>EIDOLON</b>
                    | 
                    button(class='toggleForm' id='ssrabtn' style='background-color: #666f8b;' type='button' nav="ssras") <b>SSR (AWAKENED)</b>
                    | 
                    button(class='toggleForm' id='ssrbtn' style='background-color: #666f8b;' type='button' nav="ssrs") <b>&nbsp;SSR&nbsp;</b>
                    | 
                    button(class='toggleForm' id='srbtn' style='background-color: #666f8b;' type='button' nav="srs") <b>&nbsp;&nbsp;SR&nbsp;&nbsp;</b>
                    | 
                    button(class='toggleForm' id='rbtn' style='background-color: #666f8b;' type='button' nav="rs") <b>RARE</b>
                #search(style='position: relative; float: left; margin-left: 5px; margin-top:8px;')
                    input(type='text' id='searchBar' size='50' class='avWA' placeholder='Search by name...')
            br
            #characters(style='margin: auto;')
                #souls(class='visible' style='position: absolute;')
                    h2(style='text-align:left') Souls
                    include assets_browser/souls.pug
                #eidolons(class='hidden' style='position: absolute;')
                    h2(style='text-align:left') Eidolons
                    include assets_browser/eidolons.pug
                #ssras(class='hidden' style='position: absolute;')
                    h2(style='text-align:left') SSRs (Awakened)
                    include assets_browser/ssras.pug
                #ssrs(class='hidden' style='position: absolute;')
                    h2(style='text-align:left') SSRs
                    include assets_browser/ssrs.pug
                #srs(class='hidden' style='position: absolute;')
                    h2(style='text-align:left') SRs
                    include assets_browser/srs.pug
                #rs(class='hidden' style='position: absolute;')
                    h2(style='text-align:left') Rs
                    include assets_browser/rs.pug