html, body { height: 100% }

.navbar { top: 50.2%; }

@media (max-height: 640px) { .navbar { top: 48.2%; } }
@media (max-height: 414px) { .navbar { top: 38.2%; } }

.nav-switch-hide { height: 120px; }

.animate {
  z-index: -1;
  overflow: hidden;
  backface-visibility: hidden;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

@keyframes play {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -14400px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.invi {
  z-index: 1040;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  background: transparent;
  color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.leftNav { left: 0; }
.rightNav { right: 0; }

#panel {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  max-height: 900px;
  max-width: 900px;
  margin: 0 auto;
}

#image {
  width: 100%;
  height: 100%;
}

#image div {
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#dialog {
  height: 23.4%;
  width: 100%;
  position: absolute;
  display: inline-block;
  background-image: linear-gradient(to bottom, #977 1%, transparent 110%);
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: left;
  text-shadow: #dd55ff 2px 1px;
  word-wrap: break-word;
  z-index: 1050;
}

#text { padding: 5px 5px; }

#characterName {
  font-weight: 600;
  font-size: 22px;
}

#characterTalk { font-size: 18px; }
