.navbar { top: 50.2%; }

@media (max-height: 640px) { .navbar { top: 48.2%; } }
@media (max-height: 414px) { .navbar { top: 38.2%; } }

.nav-switch-hide { height: 120px; }

.animate {
  z-index: -1;
  overflow: hidden;
  backface-visibility: hidden;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

@keyframes play {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -14400px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.invi {
  z-index: 1050;
  position: absolute;
  height: 640px;
  top: 0;
  background: transparent;
  color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#panel {
  position: relative;
  opacity: 0;
  height: 640px;
}

#image {
  height: 640px;
}

#dialog {
  height: 190px;
  background-color: rgb(255, 183, 183);
  color: rgb(190, 50, 74);
  opacity: 0.75;
  text-align: left;
  margin-bottom: 15px;
}

#text {
  word-wrap: break-word;
  padding: 5px 5px;
}

#characterName {
  font-weight: 600;
  font-size: 24px;
}

#characterTalk {
  font-size: 22px;
}
