mixin appendCharacterList(characters)
  each c in characters
    li.tile.small
      .char-button(data-char = c.id, data-toggle = 'modal', data-target = '.modal')
      img(src=`${app.urls.g}wiki/${c.avatar}`)
      span #{c.name}
      - if (Date.now() - new Date(c.mUpdated).valueOf() <= 6048e5)
        |
        span.badge-container
          span.badge.badge-primary RECENT

each t, i in [ 'soul', 'eidolon', 'ssr+', 'ssr', 'sr', 'r', 'skin' ]
  .collapse(id = `u${i}`, data-parent='#latest-updated-parent')
    ul.tile-list
      +appendCharacterList(latestUpdated[t])
