block side-nav-content
  a(class='nav-item nav-link', href='javascript:void(0);', onclick='showAudioSettings();') Audio
  a(class='nav-item nav-link', href='javascript:void(0);', onclick='showVisualSettings();') Visual
