html, body {
  height: 100%;
}

input {
  &[type=color] {
    background-color: $input-color-background;
    border-radius: 3%;
    border: none;
    cursor: pointer;
    height: 35px;
    margin: 4px 2px;
    width: 45%;
  }
  &[type=range] {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: $range-thumb-background;
      border-radius: 50%;
      box-shadow: $box-shadow;
      cursor: pointer;
      height: 25px;
      margin-top: -10px;
      width: 25px;
    }
    &::-moz-range-thumb {
      background: $range-thumb-background;
      border-radius: 50%;
      box-shadow: $box-shadow;
      cursor: pointer;
      height: 25px;
      width: 25px;
    }
    &::-ms-thumb {
      background: $range-thumb-background;
      border-radius: 50%;
      box-shadow: $box-shadow;
      cursor: pointer;
      height: 25px;
      width: 25px;
    }
  }
}

:focus {
  outline: none !important;
}

::-moz-focus-inner {
  border: 0 !important;
}
