p { white-space: pre-wrap; }

#model {
  -moz-mask-image: radial-gradient(circle at 50% 65%, black 35%, transparent 69%);
  -webkit-mask-image: radial-gradient(circle at 50% 65%, black 35%, transparent 69%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  height: 100%;
  mask-image: radial-gradient(circle at 50% 65%, black 35%, transparent 69%);
  max-height: 683px;
  max-width: 1024px;
  opacity: 0.8;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1;
}

#thumbnail { z-index: -1; }

.navbar { top: 50.2%; }

@media (max-height: 640px) { .navbar { top: 48.2%; } }
@media (max-height: 414px) { .navbar { top: 38.2%; } }

.nav-switch-hide { height: 100px; }

.info-table {
  background-color: #7c2962;
  opacity: 0.8;
}

.kit-name {
  font-weight: bolder;
  padding: 3px;
  position: relative;
  top: -6px;
  vertical-align: super;
  width: 100%;
}

.kit-name-bst { background-color: #ff0062a6; }
.kit-name-abl { background-color: #0084ffa6 }
.kit-name-ex { background-color: #00ff9da6; }
