p
    sub <b>About Eros</b> <br/> Eros is a Discord Bot based on 
        | <a href="github:hydrabolt/discord.js">Discord.JS</a> and <a href="github:mapbox/node-sqlite3">SQLite-node Library</a>.
        | <br/>[ <strong>Simple Moderator System</strong> | <strong>Voice Manage</strong> | <strong>Kamihime Database</strong> | <strong>Tag System</strong> ]
p
    sub © <a href="https://fb.com/kattygaz0423">Gazmull</a> (<a href="http://thegzm.space">Eunicorn#5384</a>) | 
    |
    sub
        a(href="http://support.thegzm.space") <strong>Support</strong>