@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway');
.avWA {
    margin: auto;
    background-color: #484b51;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-color: #ffaabf;
}
.avWA::placeholder {
    color: #888888;
}
.toggleForm {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin:0 auto;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}
.btn {
    background-color: #7289DA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin:0 auto;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    cursor: pointer;
}
.avatar {
    border-radius: 50%;
    border: 4px solid #FFDDDD;
    box-shadow: 0px 0px 18px #555555;

}
.container {
    background-color: #ffaabf;
    margin: 2px 2px;
    width: 235px;
    height: 255px;
    border-radius: 3px;
    text-align: center;
}
.iName, .iID {
    font-size: 15px;
    color: #FFFFFF;
}

/* fix for mozilla firefox outlines */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin:-8px -7px;
    background-color: #222222;
}
  
li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #222222;
}


li a:hover {
    background-color: #ec7ae3;
    border: 1px solid #f5bbf2;
}

li a:active {
    border: 1px solid #f5bbf2;
    background-color: #2f3136;
    color: white;
}
p {
    clear: left;
}
body {
    background-color: #2f3136;
    color: #a7aebc;
    font-family: 'Open Sans', sans-serif;
}
h1, h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
h1 {
    color: #ffaabf;
}
h2 {
    color: #ffffff;
}
a:link, a:visited {
    color: #a7aebc;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
}

.episode a {
    color: #ff65ae;
    font-size: 15px;
}
.episode a:hover {
    color: #ffffff;
}