extends main-no-side-nav

block content
  div(class='container-fluid text-center my-5')
    block image
      img(src='/img/LME.png', alt='Let Me Explain...')
    block message
      - if (message)
        h1 #{message}
