.row.mx-0.my-2
  .col-sm-12.col-md-6
    | Pikan! — #{app.version}
    |
    <br>
    +link('https://discord.gg/QTQCcah', 'Feedbacks & Contact (Discord)', true)
    |  |
    |
    +link('/disclaimer', 'Disclaimer & Privacy')
    |  |
    |
    +link('/api/credits', 'Credits')
