.row.mx-0
  .col-sm-12.col-md-6
    | Eros' Big Sister —
    +link(
      'https://github.com/gazmull/kamihime-database/releases/tag/' + app.version,
      ' version ' + app.version,
      true
    )
    |
    |
    | made with ❤ & 💦 by
    |
    +link('https://github.com/gazmull', 'gazmull', true)
    |  |
    |
    +donateLink('Keep this site alive!', true)
    <br>
    +link('https://github.com/gazmull/kamihime-database', 'Source Code')
    |  |
    |
    +link('https://thegzm.space/discord', 'Feedbacks & Contact (Discord)', true)
    |  |
    |
    +link('/disclaimer', 'Disclaimer & Privacy')

