include util

doctype html
html(lang='en')
  head
    block head
      include meta
      meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=0')
      block title
        title Kamihime Database - Error
      block styles
        include vendors/styles
      block scripts
        include vendors/scripts
  body
    block navigation
      include navigation
    block loader
      include loader
    content
      block content
    footer
      block footer
        include footer
