include util

doctype html
html
  head
    block head
      include meta
      meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=0')
      block title
        title Kamihime Database - Error
      include vendors
  body
    block top-nav
      include top-nav
    block side-nav
      include side-nav
    block content
    block foot
