meta(name='description', content='Site for researching Kamihime PROJECT characters for scientific purposes.')
meta(name='keywords', content='kamihime, kamihime project, kamipro, kp, kamihimedb, kamihime project gallery, pikan, solicon, harem')
meta(name='robots', content='index, follow')
meta(property='og:image:secure_url', content=`${app.urls.root}og-image.png`)
meta(property='og:image:alt', content='Pikan')
meta(property='og:site_name', content='Pikan! Party')
meta(property='og:title', content='Learn How One Becomes a Solicon')
meta(property='og:type', content='article')
