extends main

block head
  include meta
  block title
    title Kamihime Database - Player
  block styles
    include vendors/styles
    link(rel='stylesheet', href='/css/player.css')
  block scripts
    include vendors/scripts
