- const rs = characters.filter(el => el.rarity === 'R' && el.id.startsWith('k'));
- for(const character of rs)
  li.name(name=character.name, character-id=character.id)
    a(href='info/' + character.id) #{character.name}
