- const ssrs = characters.filter(el => el.rarity === 'SSR' && el.id.startsWith('k'));
- for(const character of ssrs)
  li.name(name=character.name, character-id=character.id)
    a(href='info/' + character.id) #{character.name}
