- const ssras = characters.filter(el => el.rarity === 'SSR+');
- for(const character of ssras)
  li.name(name=character.name, character-id=character.id)
    a(href='info/' + character.id) #{character.name}
