extends ../_templates/admin

append head
  script.
    setTimeout(() => this.location.replace('/'), 10000);

append content
  div.container-fluid
    h3 Successfully saved your inputs into the database. ♥
    div.text-center
      img.rounded-circle(src='/img/wiki/' + avatar)
      h4 #{name}
      h6 ##{id.toUpperCase()}
    p
      | Your session for this character has been destroyed.
      br
      br
      | You will be redirected shortly to index page...
      br
      br
      br
      a.text-danger(href='https://google.com') How about at Google?
