.list-group-item {
  background-color: $background;
  transition: background $core-transition;
  will-change: background;
  &:hover {
    background-color: $background-hover !important;
  }
  & a {
    color: $text;
    display: block;
    text-decoration: none;
    &:hover {
      color: $text-hover;
    }
  }
}
