.feed {
  backface-visibility: hidden;
  background-color: $background;
  border-top-left-radius: 1%;
  border-bottom-left-radius: 1%;
  overflow-y: auto;
  margin: 1vh 0;
  will-change: transform;
}

.feed-list {
  display: flow-root;
  padding-left: 10px;
  &.numbered {
    list-style-type: decimal;
  }
  &:not(.numbered) {
    list-style-position: outside;
    list-style-type: square;
  }
  li, a {
    clear: left;
    float: left;
  }
  a.label {
    color: $text-link-header !important;
    display: block;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.1s ease;
    will-change: transform, color;
    @include prepareTransform('color');
    &:hover {
      transform: scale(1.512);
      color: $text-hover;
    }
  }
}
