p {
  white-space: pre-wrap;
}

.side-nav.navbar {
  top: 50.2%;
}

@media (max-height: 640px) {
  .side-nav.navbar {
    top: 48.2%;
  }
}

@media (max-height: 414px) {
  .side-nav.navbar {
    top: 38.2%;
  }
}

.nav-switch-hide {
  height: 150px;
}
