.info-table {
  background-color: $table-background;
  opacity: 0.8;
}

.kit-name {
  font-weight: bolder;
  padding: 3px;
  position: relative;
  top: -6px;
  vertical-align: super;
  width: 100%;
}

.kit-name-bst {
  background-color: $kit-name-bst;
}

.kit-name-abl {
  background-color: $kit-name-abl;
}

.kit-name-ex {
  background-color: $kit-name-ex;
}
