#search-bar {
  position: relative;
  top: 5px;
  width: 100%;
}

/* Tooltip (navigation text) */

#pop {
  background-color: #222;
  border: 1px solid #ff00ae;
  color: #ff00ae;
  visibility: hidden;
  font-size: 14px;
  font-weight: bold;
  min-height: 50px;
  min-width: 200px;
  z-index: 1090;
}

#pop:after {
  border-color: #ff00ae transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  left: 1%;
  position: absolute;
  top: 100%;
}

/* Latest/Hot */

#feed-wrapper {
  position: fixed;
  top: 0.5vh;
  right: 0;
}

.feed {
  background-color: #555;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #ff00ae31;
  border-top: 2px solid transparent;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  overflow-y: auto;
  max-height: 48.5vh;
  margin: 0.5vh 0;
}

.feed-list {
  float: left;
  clear: left;
  list-style-position: outside;
  list-style-type: circle;
  padding-left: 10px;
}

/* 4tehlulz */

.feed-list a.text-light {
  color: #ffafe6 !important;
  font-size: 14px;
  transition: all 0.1s ease;
}

.feed-list a.text-light:hover {
  animation: wee 2s linear infinite alternate;
  font-size: 16px;
  font-weight: bolder;
}

@keyframes wee {
  from { color: #ffafe6; }
  to { color: #ff00ae; }
}

/* Main Content */

.content { background-color: transparent; }

.kh-list-wrapper { z-index: 1; }

.kh-list {
  list-style-position: outside;
  list-style-type: none;
}

.kh-list li {
  float: left;
  clear: left;
}

.nav-switch-hide { height: 250px; }
