extends ../_templates/player

append head
  script.
    let script = !{JSON.stringify(script)};
    const files = !{JSON.stringify(files)};
    const SCENARIOS = "#{SCENARIOS}";
  script(src='/player/script/legacy.js')

block side-nav

block content
  div(class='scenario panel-wrapper')
    div(class='panel')
      button(class='invi leftNav', nav='left')
      |
      button(class='invi rightNav', nav='right')
      div(id='image')
