extends ../_templates/player

append scripts
  script.
    let script = !{JSON.stringify(script)};
    const files = !{JSON.stringify(files)};
    const SCENARIOS = "#{SCENARIOS}";
  script(src='/js/player/legacy.js')

block subcontent
  .scenario.panel-wrapper
    .panel
      button(class='invi leftNav', nav='left')
      |
      button(class='invi rightNav', nav='right')
      #image.animate
