doctype html

html

  head
    script.
      const script = !{JSON.stringify(script)};
      const files = !{JSON.stringify(files)};
      const res = "#{res}";
    script(src = '/lib/jquery.min.js')
    script(src = '/player/script/legacy.js')
    link(rel = 'stylesheet' href = '/player/style.css')
    title Kamihime Player

  body
    ul
      include ../constants/navigation.pug
      li(style="float: right; user-select: none;")
        a Legacy Mode
    center
      include ../constants/buttons.pug

      #panel()
        button(class = 'invi' nav = 'left' style = 'margin-left: -450px; width: 450px;')
        |
        button(class = 'invi' nav = 'right' style = 'width: 450px;')
        #image()