extends ../_templates/player
include assets/side-nav-content

append head
  script.
    let script = !{JSON.stringify(script).replace(/\{\{主人公\}\}/g, (user ? user.username : 'Master'))};
    const files = !{JSON.stringify(files)};
    const SCENARIOS = "#{SCENARIOS}";
  script(src='/lib/howler.core.min.js')
  script(src='/player/script.js')
  script(src='/player/script/scenario.js')

block content
  div(class='scenario panel-wrapper')
    div(class='panel', sequence=0)
      button(class='invi leftNav', nav='left')
      |
      button(class='invi rightNav', nav='right')
      div(id='image')
      div(id='dialog')
        div(id='text', data=0)
          div(id='characterName')
          div(id='characterTalk')
