extends ../_templates/player

append scripts
  script.
    let script = !{JSON.stringify(script)};
    const files = !{JSON.stringify(files)};
    const SCENARIOS = "#{SCENARIOS}";
    const MISC = "#{MISC}";
  script(src='//cdn.jsdelivr.net/npm/howler@2.1.2/dist/howler.core.min.js')
  script(src='/js/player/scenario.js')

block subcontent
  +playerSettings
  .scenario.panel-wrapper
    .panel(sequence=0)
      button(class='invi leftNav', nav='left')
      |
      button(class='invi rightNav', nav='right')
      #image.animate
      #dialog
        #text(data=0)
          #characterName
          #characterTalk
