extends ../_templates/main
include assets/wiki-util

append head
  script(src='/info/script.js')
  link(rel='stylesheet', href='/info/style.css')
  block title
    title Kamihime Database - Info

block side-nav-help

block side-nav-content
  a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#info') Info
  a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#episodes') Episodes

block content
  div(class='container-fluid px-0')
    div.row
      div(class='col-12 px-0')
        div#content.row
          - let key = 49;
          div#info( class='content rounded-bottom collapse col-12', data-parent='#content', key=key++)
            div(class='content-wrapper hidden-browser')
              include assets/wiki

          div(id='episodes', class='content rounded-bottom collapse col-12', data-parent='#content', key=key++)
            div(class='content-wrapper hidden-browser')
              include assets/episodes

  div(id='model', class='d-none d-lg-block', style=`background-image: url("/img/wiki/${character.main}")`)
  div(id='thumbnail', class='d-none d-md-block d-lg-none', style=`background-image: url("/img/wiki/${character.preview}")`)
