extends ../_templates/main

append styles
  link(rel='stylesheet', href='/css/info.css')

append scripts
  script(src='/js/info.js')

block title
  title Kamihime Database - Info

block side-nav

block content
  div(class='container-fluid px-3')
    div.row
      div(class='col-12 px-0')
        include assets/episodes

  div(class='model d-none d-lg-block', style=`background-image: url("/img/wiki/${character.main}")`)
  div(class='model d-none d-md-block d-lg-none', style=`background-image: url("/img/wiki/${character.preview}")`)
