br
br
br
#buttons
  button(class = 'topbutt' type = 'button', nav = 'left') <b>&lt;</b>
  | 
  button(class = 'topbutt' type = 'button', nav = 'right') <b>&gt;</b>
  h3 You can also navigate with ← and → cursor keys, or click a portion of the image
br