doctype html

html

  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='/constants/style.css')
    link(rel='stylesheet', href='/info/style.css')
  style.
    p a:link, p a:visited {
      color: #ff00ae;
      font-weight: bolder;
      text-decoration: none;
    }

    p a:hover { color: #fff; }
