<!-- Menu -->
div(class='col-1 px-0')
  nav(class='navbar navbar-light navbar-expand-sm px-0 flex-row flex-nowrap float-left')
    div(id='nav' class='nav')
      a(class='nav-item text-light text-uppercase', href='javascript:void(0);', data-toggle='tooltip', data-placement='top', title='Click me for help on using the settings.', onclick='showHelp();') Help
      a(class='nav-item nav-link', href='javascript:void(0);', onclick='showAudioSettings();') Audio
      a(class='nav-item nav-link', href='javascript:void(0);', onclick='showVisualSettings();') Visual
    div(class='nav-switch nav-switch-hide')
<!-- Menu End -->
