.col-sm-12, .col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.tile-container {
  background-color: $tile-list-background;
  padding: 5px 10px;
  margin: 5px 0;
  & h2 {
    text-align: right;
  }
}

.tile-list {
  padding: 0;
  margin: 0;
}

.tile {
  background-color: $core-tile;
  box-sizing: border-box;
  display: block;
  opacity: 0.5;
  overflow: hidden;
  transition: $core-transition-simple;
  position: relative;
  &:hover {
    opacity: 1;
  }
  & .char-button, & a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    cursor: pointer;
  }
  &.big {
    height: 80px;
    width: 100%;
    margin: 5px 0;
    & img {
      height: 350px;
      position: absolute;
      top: -65px;
      left: -150px;
      mask-image: linear-gradient(to right, black 50%, transparent);
    }
    & h2 {
      font-size: $title-text-size;
      position: absolute;
      margin: 0;
      bottom: 5px;
      right: 5px;
    }
  }
  &.small {
    height: 50px;
    margin: 5px 0;
    & img {
      width: 100px;
      mask-image: linear-gradient(to right, black 60%, transparent);
      position: relative;
      top: -30px;
    }
    & span {
      &.badge {
        position: relative;
        top: -41px;
        z-index: 0;
      }
      &:not(.badge) {
        color: $core-text;
        font-size: $item-text-size;
        position: absolute;
        top: 8px;
        padding: 5px 5px;
        z-index: 1;
      }
    }
  }
}

.latest-panel {
  text-align: center;
  margin: 30px 0;
  & .btn {
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 3px black;
    width: 90px;
    color: $core-text;
    padding: 0px 3px;
    margin: 5px;
    h3 {
      position: relative;
      top: 3px;
    }
    &:hover, &.active {
      background-color: $core-nav-background;
    }
  }
}
